* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Helvetica;
    font-weight: 100;
}

ul {
    list-style: none;
    a {
        text-decoration: none;
    }
}

$main-color: #252525;
$secondary: #6ff531;
$light-gray: #4e4e4e;
// --secondary: #f5f12d;

body {
    background-color: $main-color;
}

h1 {
    font-size: 4rem;
    color: #fff;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
    color: #fff;
}

p {
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
}
