.project-container {
    margin: 4rem 0;
    padding: 0rem 8rem 8rem 8rem;
    border-bottom: .1rem solid $light-gray;

    h1 {
        margin-bottom: 2rem;
    }

    p {
        line-height: 3rem;
    }
}

@include mediaW(462px) {
    #projects, .project-container {
        padding: 0 2rem;
    }
}