#services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(3, min-content);
    padding: 8rem;

    & > div {
        border: .1rem solid $light-gray;
    }

    .grid-1, 
    .grid-2,
    .grid-3,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
        padding: 4rem 2rem;
        @include flexCenter;
    }

    .grid-10, .grid-11, .grid-12 {
        font-weight: 100;

        li {
            color: #fff;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            line-height: 3rem;
            margin-right: 1rem;
        }

        h2 {
            margin-bottom: 2rem;
        }
    }

    .grid-1 {
        background: $light-gray;
    }

    .grid-4, .grid-5 {
        img {
            @include fitImage
        }
    }
}

@include mediaW(462px) {
    #services {
        padding: 0 2rem;
        margin-top: 7rem;
    }
}