@import './config';
@import './mixins';
@import './utilities';
@import './navbar';

@import './index-style';
@import './services-style';
@import './project-style';
@import './footer';
// social media links
.social-media {
    position: fixed;
    bottom: 4rem;
    left: 3rem;
    z-index: 10;

    li {
        line-height: 4rem;
    }

    i {
        color: #fff;
        font-size: 3rem;
    }

    @include mediaW(461px) {
        position: relative;

        ul {
            display: flex;
        }

        li {
            padding-right: 1.5rem;
        }
    }
}

// end of social media links 