.banner {
    width: 100%;
    margin-bottom: 8rem;
    position: relative;

    #{&}__img {
        height: 100vh;
        background: url('../img/banner.jpg');
        background-repeat: no-repeat;
        opacity: .7;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    #{&}__description {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
        width: 100%;
        color: #fff;

        h1 {
            font-size: 6rem;
            line-height: 10rem;
            text-shadow: .2rem .2rem lighten($main-color, 30);
        }

        h2 {
            font-size: 3rem;
            font-weight: normal;
            text-shadow: .2rem .2rem lighten($main-color, 30);
        }
    }
}

// width
.w-80 {
    width: 80%;
}
// end of width

// buttons
.btn {
    font-size: 1.5rem;
    padding: 1rem 2rem !important;
    border: .1rem solid #fff;
    transition: all .5s;

    &:hover {
        background-color: #fff;
        color: $main-color;
        cursor: pointer;
    }
}

.btn-large {
    padding: 1rem 2rem;
    width: 24rem;
    height: 6rem;
}

.btn-secondary {
    background: $secondary;
    color: #fff;
    border: none;
    transition: all .5s;
    font-size: 2rem;

    &:hover {
        color: #fff;
        background-color: darken($secondary, 10);
    }
}

.btn-mobile-menu {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color:#fff;
    font-size: 3rem;
    transition: all .5s;
}

.btn-mobile-menu:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    transform: scale(1.2);
}
// end of buttons

// grids
.photo-grid-5 {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 25rem);
    grid-gap: 4rem;
    
    & > div {
        position: relative;
        img {
            @include fitImage;
        }
    }

    .grid-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .grid-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .grid-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .grid-4 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .grid-5 {
        grid-column: 2 / 3;
        grid-row: 2 / 4;

        img {
            width: 100%;
            height: 80%;
            object-fit: center;
            background-position: center;
        }

        .blur-hover__container {
            height: 80%;
        }
    }

}

.photo-grid-6 {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 25rem);
    grid-gap: 4rem;

    & > div {
        position: relative;
        img {
            @include fitImage;
        }
    }
    
    .grid-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    .grid-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .grid-4 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .grid-5 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .grid-6 {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }
}
// end of grids

// Image Effects
.blur-hover {
    &:hover {
        .blur-hover__container {
            display: flex;
        }
    }

    #{&}__container {
        padding: 2rem;
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
        background-color: rgba(255, 255, 255, .5);
        justify-content: center;
        align-items: center;
    }

    h1 {
        word-break: break-all;
        color: $main-color;
    }
}
// End of Image effects
// Square-4
.square-4 {
    margin: 8rem 0;
    padding: 0 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40rem;

    & > div {
        border: .1rem solid $light-gray;
        @include flexCenter;
        &:first-child {
            background-color: $light-gray;
            padding: 0rem 4rem;
        }
    }

    p {
        line-height: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
// End of Square 4



// Responsive
@include mediaW(1280px) {
    .photo-grid-5, .photo-grid-6 {
        h1 {
            font-size: 2rem;
        }
    }    
}

@include mediaW(1106px) {
    .photo-grid-5 {
        grid-template-rows: repeat(3, 20rem);
    }

    .photo-grid-6 {
        grid-template-rows: repeat(3, 20rem);
    }
}

@include mediaW(963px) {
    .banner__description {
        h1 {
            font-size: 5rem !important;
        }
    }

    .btn-large {
        width: unset;
        height: 4rem !important;
        font-size: 1.5rem !important;
    }

    .square-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content min-content;

        div {
            padding: 1rem;
        }

        .grid-1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .grid-2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    
        .grid-3 {
            grid-column: 1 / 2;
            grid-row: 2 / 3; 
        }
    
        .grid-4 {
            grid-column: 2 / 3;
            grid-row: 2 / 3; 
        }
    }

    .square-4-increase-padding {
        grid-template-rows: repeat(2, min-content);
        div {
            padding: 8rem 0;
        }
    }
}

@include mediaW(768px) {
    .banner__description {
        h1 {
            font-size: 4rem !important;
        }

        h2 {
            font-size: 2.5rem !important;
        }
    }

    .photo-grid-5 {
        grid-template-rows: repeat(3, 20rem);
        grid-gap: 2rem;
    }

    .photo-grid-6 {
        grid-template-rows: repeat(3, 18rem);
        grid-gap: 2rem;
    }
}

@include mediaW(652px) {
    .square-4 {
        grid-template-columns: 1fr;
        grid-template-rows: 8rem repeat(3, min-content);

        .grid-1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .grid-2 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    
        .grid-3 {
            grid-column: 1 / 2;
            grid-row: 3 / 4; 
        }
    
        .grid-4 {
            grid-column: 1 / 2;
            grid-row: 4 / 5; 
        }
    }

    .square-4-increase-padding {
        grid-template-rows: 8rem repeat(3, min-content);
        div {
            padding: 8rem 0;
        }
    }

    .photo-grid-5 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 20rem);
    
        .grid-1 {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
    
        .grid-2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    
        .grid-3 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    
        .grid-4 {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }
    
        .grid-5 {
            grid-column: 1 / -1;
            grid-row: 4 / 5;

            .blur-hover__container, img {
                height: 100%;
            }
        }
    }

    .photo-grid-6 {
        grid-template-rows: repeat(4, 18rem);
        grid-template-columns: repeat(2, 1fr);

        .grid-1 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

        .grid-2 {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
        }

        .grid-3 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        .grid-4 {
            grid-row: 3 / 5;
            grid-column: 1 / 2;
        }

        .grid-5 {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
        }

        .grid-6 {
            grid-row: 4 / 5;
            grid-column: 2 / 3;
        }
    }
}

@include mediaW(461px) {
    .photo-grid-5, .photo-grid-6 {
       padding: 0 2rem;
    }
}

@include mediaW(470px) {
    .photo-grid-5 {
        grid-template-rows: repeat(4, 15rem);
    }

    .photo-grid-6 {
        grid-template-rows: repeat(4, 15rem);
    }
}

@include mediaW(414px) {
    .photo-grid-5, .photo-grid-6 {
        grid-template-rows: repeat(5, 15rem);
        grid-template-columns: 1fr;
        grid-column-gap: 0;

        .grid-1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .grid-2 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .grid-3 {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }

        .grid-4 {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }

        .grid-5 {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
    }
    

    .photo-grid-6 {
        grid-template-rows: repeat(6, 15rem);
        .grid-6 {
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
    }
}

@include mediaW(601px) {
    .banner__description {
        padding: 0 5rem;
        h1 {
            line-height: unset !important;
            margin-bottom: 2rem;
        }
    }
}
// End of Responsive